body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 20px auto;
    width: 60%;
    border: solid 2px black;
}

h1 {
    text-align: center;
    background-color: gray;
    margin: 0px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#addEmployee {
    padding: 10px;
    /* width: 100%; */
}

.inputFields {
    text-align: justify;
    width: 80%;
}


input {
    height: 30px;
    margin: 10px auto;
    font-size: 14px;
    border: 2px solid black;
}

#submitButtonDiv {
    margin: 20px;
    text-align: right;
}

#submitButton {
    float: right;
    font-size: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(3, 77, 3);
    color: white;
    cursor: pointer;
}

p {
    color: red;
}

#employeeTable {
    margin: 20px;
    margin-top: 50px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: gray;
}

th {
    border: 2px solid black;
    padding: 10px;
}


td {
    padding: 5px 20px;
    height: 30px;
    border: 2px solid black;
    padding: 5px;
}

.annualSalary {
    text-align: right;
}

.deleteButton {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    background-color: red;
    text-align: center;
}

.deleteButtonTd {
    text-align: center;
}

tr:nth-child(even) {
    background-color: blanchedalmond;
}

#lastRow {
    text-align: right;
}